body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  .container-gall{
    display: flex;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  nav a:hover {
    background-color: #555;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
    font-size: 100px;
  }
  
  p {
    font-size: 1.2em;
    line-height: 1.5;
  }
  
  
  
  /*footer styling*/

.foot-container{
  background-color: black;
display: flex;
  justify-content: center;
  padding: 40px 100px;
text-align: center;
margin: 15px 19px;
}
h3{
color: tomato;
font-size: 30px;
}
.foot ul li{
list-style: none;
font-size: 17px;
padding: 20px;
}
.foot ul li a{
text-decoration: none;
color: #fff;


}


.blue{
  color: #fff;
  text-align: center;
  margin-bottom: 7px;
background: black;
padding: 30px;
}
